<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.barogagi.region.query.mapper.RegionMapper">

    <!-- resultMap -->

    <!-- Select Query -->

    <select id="selectRegionByPlanNum" parameterType="int" resultType="com.barogagi.region.query.vo.RegionDetailVO">
        <![CDATA[
            SELECT
		            b.REGION_NUM as regionNum
		          , b.REGION_LEVEL_1 as regionLevel1
		          , b.REGION_LEVEL_2 as regionLevel2
		          , b.REGION_LEVEL_3 as regionLevel3
		          , b.REGION_LEVEL_4 as regionLevel4
            FROM    PLAN_REGION a
            JOIN    REGION b
            ON      a.REGION_NUM = b.REGION_NUM
            WHERE   a.PLAN_NUM = #{planNum};
        ]]>
    </select>

    <select id="selectRegionByRegionNum" parameterType="int" resultType="com.barogagi.region.query.vo.RegionDetailVO">
        <![CDATA[
            SELECT
		            REGION_NUM as regionNum
		          , REGION_LEVEL_1 as regionLevel1
		          , REGION_LEVEL_2 as regionLevel2
		          , REGION_LEVEL_3 as regionLevel3
		          , REGION_LEVEL_4 as regionLevel4
            FROM    REGION
            WHERE   REGION_NUM = #{regionNum};
        ]]>
    </select>

    <select id="selectRegionByRegionNm" parameterType="list" resultType="com.barogagi.region.query.vo.RegionDetailVO">
        SELECT
        REGION_NUM      AS regionNum,
        REGION_LEVEL_1  AS regionLevel1,
        REGION_LEVEL_2  AS regionLevel2,
        REGION_LEVEL_3  AS regionLevel3,
        REGION_LEVEL_4  AS regionLevel4
        FROM REGION
        WHERE 1=1
        <foreach collection="list" item="token">
            AND CONCAT(
            IFNULL(REGION_LEVEL_1, ''), ' ',
            IFNULL(REGION_LEVEL_2, ''), ' ',
            IFNULL(REGION_LEVEL_3, ''), ' ',
            IFNULL(REGION_LEVEL_4, '')
            ) LIKE CONCAT('%', #{token}, '%')
        </foreach>
        LIMIT 10
    </select>
    <select id="selectRegionByLevel4" parameterType="string" resultType="com.barogagi.region.query.vo.RegionDetailVO">
        SELECT
               REGION_NUM as regionNum
             , REGION_LEVEL_1 as regionLevel1
             , REGION_LEVEL_2 as regionLevel2
             , REGION_LEVEL_3 as regionLevel3
             , REGION_LEVEL_4 as regionLevel4
        FROM REGION
        WHERE REGION_LEVEL_4 LIKE CONCAT('%', #{level4}, '%')
            LIMIT 1
    </select>

    <select id="selectRegionByLevel3" parameterType="string" resultType="com.barogagi.region.query.vo.RegionDetailVO">
        SELECT
               REGION_NUM as regionNum
             , REGION_LEVEL_1 as regionLevel1
             , REGION_LEVEL_2 as regionLevel2
             , REGION_LEVEL_3 as regionLevel3
             , REGION_LEVEL_4 as regionLevel4
        FROM REGION
        WHERE REGION_LEVEL_3 LIKE CONCAT('%', #{level3}, '%')
            LIMIT 1
    </select>

    <select id="selectRegionByLevel2" parameterType="string" resultType="com.barogagi.region.query.vo.RegionDetailVO">
        SELECT
               REGION_NUM as regionNum
             , REGION_LEVEL_1 as regionLevel1
             , REGION_LEVEL_2 as regionLevel2
             , REGION_LEVEL_3 as regionLevel3
             , REGION_LEVEL_4 as regionLevel4
        FROM REGION
        WHERE REGION_LEVEL_2 LIKE CONCAT('%', #{level2}, '%')
            LIMIT 1
    </select>

    <select id="selectRegionByLevel1" parameterType="string" resultType="com.barogagi.region.query.vo.RegionDetailVO">
        SELECT
               REGION_NUM as regionNum
             , REGION_LEVEL_1 as regionLevel1
             , REGION_LEVEL_2 as regionLevel2
             , REGION_LEVEL_3 as regionLevel3
             , REGION_LEVEL_4 as regionLevel4
        FROM REGION
        WHERE REGION_LEVEL_1 LIKE CONCAT('%', #{level1}, '%')
            LIMIT 1
    </select>


</mapper>
