<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.barogagi.schedule.query.mapper.ScheduleMapper">

    <!-- resultMap -->

    <resultMap id="scheduleListResultMap" type="com.barogagi.schedule.query.vo.ScheduleListVO">
        <id property="scheduleNum" column="SCHEDULE_NUM"/>
        <result property="scheduleNm" column="SCHEDULE_NM"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>

        <collection property="scheduleTagRegistResDTOList"
                    ofType="com.barogagi.tag.query.vo.TagSimpleVO">
            <id property="tagNum" column="TAG_NUM"/>
            <result property="tagNm" column="TAG_NM"/>
        </collection>
    </resultMap>

    <!-- Select Query -->

    <select id="selectScheduleList" parameterType="string" resultMap="scheduleListResultMap">
        <![CDATA[
            SELECT
                    a.SCHEDULE_NUM
                  , a.SCHEDULE_NM
                  , a.START_DATE
                  , a.END_DATE
                  , a.DEL_YN
                  , b.TAG_NUM
                  , c.TAG_NM
            FROM    SCHEDULE a
            LEFT JOIN SCHEDULE_TAG b ON a.SCHEDULE_NUM = b.SCHEDULE_NUM
            LEFT JOIN TAG c ON b.TAG_NUM = c.TAG_NUM
            WHERE a.MEMBERSHIP_NO = #{membershipNo}
            AND a.DEL_YN != 'Y'
        ]]>
    </select>

    <select id="selectScheduleDetail" parameterType="com.barogagi.schedule.query.vo.ScheduleMembershipNoVO" resultType="com.barogagi.schedule.query.vo.ScheduleDetailVO">
        <![CDATA[
            SELECT
                    SCHEDULE_NUM AS scheduleNum
                  , SCHEDULE_NM AS scheduleNm
                  , START_DATE AS startDate
                  , END_DATE AS endDate
                  , RADIUS AS radius
                  , DEL_YN AS delYn
                  , SCHEDULE_MEMO AS scheduleMemo
            FROM 	SCHEDULE
            WHERE   SCHEDULE_NUM = #{scheduleNum}
            AND     MEMBERSHIP_NO = #{membershipNo};
        ]]>
    </select>
</mapper>
